.sidebar {
  position: fixed;
  width: auto;
  padding-right: 1rem;
  height: 100vh;
  display: flex;
  top: 0px;
  bottom: 0px;
  box-shadow: 0 2px 1px -1px #0003, 0 1px 1px 0 #00000024, 0 1px 3px 0 #0000001f;
}

.icon-sidebar {
  margin-right: 20px;
  margin-bottom: 5px;
  width: 20px;
}
.sidebar ul {
  margin-top: 50px !important;
}
ul li {
  margin-top: 30px;
  font-size: 1rem;
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  text-decoration: none;
  color: #000;
  font-weight: 700;
}

ul li a.active {
  font-weight: 700;
}
